<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="getImagesList()">
    <h1>My Files</h1>
    <div>
        <h2 id="images-quantity"></h2>
    </div>
    <div id="images-list">

    </div>
    

    <script>
        var url = "http://localhost:8090/api/images-list"
        function getImagesList(){
            fetch(url, {
                method: "GET",
                headers : { 
                    'Accept': 'application/json, */*'
                }
            })
            .then((response) =>{
                if(response.ok){
                    response.json()
                    .then(function(obj){

                        if(obj["payload"].length == 0){
                            document.getElementById("images-quantity").innerHTML = '0 FILES'
                        }else if(obj["payload"].length > 0){
                            document.getElementById("images-quantity").innerHTML = (obj["payload"].length + ' FILES');
                            for(var i=0; i<obj["payload"].length; i++){
                                document.getElementById("images-list").innerHTML += '<a href="' + 'http://localhost:8090/api/my-images/' + obj["payload"][i] + '">' + obj["payload"][i] + '</a>' + '<br/>'
                            }
                        }

                    })
                }
            })
            .catch((err)=>{
                console.error(err)
            })
        }

        
    </script>
</body>
</html>